h2 {
    font-size: 11px;
    font-weight: 700;
    grid-area: subtitle;
    text-transform: uppercase;
}

/* The cursor */

@keyframes cursor-blink {
    0% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.blinking-cursor::after {
    content: "|";
    font-weight: 700;
    display: inline-block;
    animation: cursor-blink .5s steps(2) infinite;
}